---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import { ClickableImage } from "../components/ClickableImage";
import Testimony from "../components/Testimony.astro";
---

<Layout title="Home">
  <div class="flex flex-col gap-4">
    <h1 class="text-3xl font-bold font-garamond">
      Hello.
    </h1>
    <p class="text-sm lg:text-base">
      I'm Jordan. I currently spend my days at Flex Moving &amp; Storage where I help build moving software. My expertise spans fullstack web development, with significant experience in AI and blockchain domains. Outside of work, I roam around on my One Wheel, write (both notes and more code), and learn about whatever hyperfixation I am currently indulged in.
    </p>
  </div>

  <div>
    <span class="font-bold text-2xl font-garamond">Where to find me:</span>
    <ul class="list-disc list-inside flex flex-col gap-1 mt-2 [&>li>a]:underline">
      <li>
        <a
          href="https://github.com/jordanbaron" target="_blank" rel="noopener noreferrer">
          Github
        </a>
      </li>
      <li>
        <a
          href="https://x.com/jordobaro" target="_blank" rel="noopener noreferrer">
        Twitter
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/jordanmbaron/" target="_blank" rel="noopener noreferrer">
          LinkedIn
        </a>
      </li>
    </ul>

  </div>
  <div>
    <span class="font-medium text-lg block mb-2"
      >Here's what others have to say about me:</span
    >
    <Testimony
      name="Julian Vergel de Dios"
      description="Co-founder and CTO @ Project Heirloom, Inc."
      image="/jvd.jpg"
      value="Jordan is one of those rare young engineering talents that just relishes in problem-solving. Doesn't matter what language, what framework, he just dives in and figures it out. Any team looking to hire him would be lucky to have him."
    />
  </div>
  <Projects />

  <div class="flex flex-col gap-4">
    <span class="flex flex-wrap gap-2 items-center"
      >here's a picture of me with my cat lacy. we have the same smile <span
        class="rotate-[60deg] inline-block">:&rpar;</span
      ></span
    >

    <ClickableImage
      src="/ME.jpg"
      alt="Jordan and Lacy"
      width={256}
      height={256}
      client:only="solid-js"
    />
  </div>
</Layout>
