---
const pathname = Astro.url.pathname;
const formattedPathname = pathname.split("/")[1];
---

<div
  class="flex justify-between items-center text-white flex-col lg:flex-row gap-2 lg:gap-0"
>
  <div class="text-xl">
    <div class="flex items-center gap-4">
      <span class="font-medium text-2xl font-garamond">jordobaron</span>
      {
      pathname !== "/" && (
        <span class="text-text-muted">/ {formattedPathname}</span>
      )
    }
    </div>
  </div>
  <ul
    class="flex items-center gap-6 hover:*:underline"
  >
    <li><a href="/">home</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/reading-list">reading</a></li>
  </ul>
</div>
<hr class="border-border w-full mt-4" />
