<div>
  <h1 class="text-3xl font-medium font-garamond">
    Projects
  </h1>
  <ul class="py-4 list-disc list-inside [&>*>a]:underline">
    <li><a href="https://github.com/jordanbaron/brioche" target="_blank" rel="noopener noreferrer">Brioche</a> - A tool for converting documents into markdown via Gemini's OCR capabilities.</li>
      <li><a href="https://applepies.app" target="_blank" rel="noopener noreferrer">Apple Pies</a> - A site for sharing Fujifilm recipes.</li>
</ul>
</div>
