<div>
  <h1 class="text-3xl font-medium font-garamond">
    Projects
  </h1>
  <div class="py-4">
    As we enter 2026, I have become increasingly embarrased at my lack of personal projects. Stuff coming soon.
  </div>
</div>
