---
import Navbar from "../components/Navbar.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jordan Baron's personal site" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>jordobaron - {title}</title>
  </head>
  <body>
    <body class="w-full min-h-screen bg-[#141010] text-[#E8E0D8]">
      <div
        class="w-full px-6 lg:px-0 lg:w-1/2 2xl:w-1/3 h-full font-inter mx-auto py-6"
      >
        <Navbar />
        <div class="pt-12 flex flex-col gap-12"><slot /></div>
      </div>
    </body>
  </body>
</html>

<style is:global>
  .bar {
    animation: sound 0ms -800ms linear infinite alternate;
  }

  @keyframes sound {
    0% {
      height: 3px;
    }
    100% {
      height: 28px;
    }
  }

  .bar:nth-child(1) {
    animation-duration: 474ms;
  }
  .bar:nth-child(2) {
    animation-duration: 433ms;
  }
  .bar:nth-child(3) {
    animation-duration: 407ms;
  }
</style>
